@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    
}
.container-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
main {
    background-color: #F2F4F5;
}
nav {
    margin-top: 10px;
}
.anchor-nav {
    text-decoration: none;
}




.item-img {
    width: 70%;
}
.dropdown {
    width: 30%;
    align-self: center;
    text-align: center;
}

/*CSS dos links de navegação*/


li {
    list-style-type: none;
    
}




/*CSS do menu*/

#burguer {
    display: block;
    background-color: rgba(229, 235, 241, 0.699);
    color: rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

#burguer:hover {
    background-color: #FAFDFF;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
menu {
    display: none;
}


span:hover {
    color: rgb(0, 81, 255);
    transition: 0.2s;
}
.swap:hover {
    color: rgb(230, 230, 230);
}

.li-container:hover{
    color: rgb(0, 81, 255);
}


/* CSS seção destaque */

#banner-destaque {
    background-image: url('../imagens/banner-destaque-pq.jpg');
}
#container-number {
    margin-top: -10px;
    border-top: 1px solid black;
}



/* CSS seção destinos */
.container-link-ofertas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.link-ofertas {
    padding: 10px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}




/* CSS do rodapé */

footer {
    background-color: rgba(231, 230, 230, 0.295);
    border-top: 1px solid rgba(0, 0, 0, 0.377);
    padding-top: 20px;
}










